<h1 *ngIf="!heroe.id"><b>Creando a: {{ heroe.superhero }}</b></h1>
<h1 *ngIf="heroe.id"><b>Editando a {{ heroe.superhero }}</b></h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Súper Héroe</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.superhero" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" autocomplete="off" [(ngModel)]="heroe.alter_ego">
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" autocomplete="off" [(ngModel)]="heroe.first_appearance">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput type="text" autocomplete="off" [(ngModel)]="heroe.characters">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option [value]="publish.id" *ngFor="let publish of publisher">{{ publish.desc }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput type="url" autocomplete="off" required [(ngModel)]="heroe.alt_img">
        </mat-form-field>

        <br>

        <div fxLayout>
            <button mat-raised-button color="primary" *ngIf="!heroe.id" (click)="guardar()">
                <mat-icon>save</mat-icon> Crear
            </button>
            <button mat-raised-button color="primary" *ngIf="heroe.id" (click)="guardar()">
                <mat-icon>save</mat-icon> Editar
            </button>
            <span class="spacer"></span>
            <button *ngIf="heroe.id" mat-raised-button color="accent" (click)="borrar()">
                <mat-icon>delete</mat-icon> Borrar
            </button>
        </div>
    </div>
    <div fxFlex="50" fxLayout.xs="column">
        <img class="image" mat-card-image matTooltip="Ver detalle"
            matTooltipClass="example-tooltip-red" [routerLink]="['/heroes', heroe.id]"  [src]="heroe | imagenPipe">
        <img *ngIf="!heroe.id" mat-card-image [src]="heroe | imagenPipe">
    </div>
</div>