img {
    width: 100%;
    border-radius: 5px;
    margin-left: 3px;
}
.example-card {
    max-width: 400px;
  }
  mat-card-header{
    align-items: center;
  }

  .example-tooltip-red {
    background: #b71c1c;
  }

  .example-button {
    margin-top: 16px;
  }
  